<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<h1>Sign Up Here</h1>

<%= form_with model: @user do |f| %>
    <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
    </div>
</br>
    <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
    </div>
</br>
    <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
    </div>
</br>
    <div>
    <%= f.submit 'Sign Up' %>
    </div>
    
<% end %>

<h3>Or Login with Google:</h3>

<%= button_to 'Google', '/auth/google_oauth2' %>

     


